html {
  background: #33425B;
  color: #FAFAFA;
  font-family: monospace;
  font-size: 20px;
  padding: 10px 20px;
}

h1 {
  font-weight: 300;
}

a {
  color: #FAFAFA;
  display: block;
  padding: 15px 0;
}

img {
  max-width: 320px;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 5px 0 0;
}

ul li {
  margin-right: 30px;
  padding: 5px 0 30px;
}

ul a {
  background-size: cover;
  display: block;
  padding: 0;
  height: 320px;
  width: 320px;
}

ul h3,
ul p {
  max-width: 320px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
